<!DOCTYPE html>
<html lang="ru">

<head>
    //= ../../general/link
    <link rel="stylesheet" href="../css/hotels-list.css">
    <title>Список отелей | MyHot</title>
</head>

<body>
    //= ../../general/header

    <main class="main">
        <div class="container">
            //= ../../general/search
            <div class="main__content">
                <div class="main__subsection">
                    //= map
                    //= filters
                </div>
                <div class="main__section">