<!DOCTYPE html>
<html lang="ru">

<head>
    //= ../../general/link
    <link rel="stylesheet" href="../css/hotels-list.css">
    <script
        src="https://api-maps.yandex.ru/2.1/?apikey=a0c76f9a-3a83-47c5-8684-cd13b06be955&load=package.standard&lang=ru_RU">
    </script>
    <title>Список отелей | MyHot</title>
</head>

<body>
    //= ../../general/header

    <main class="main">
        <div class="container container_big">
            //= ../../general/search
            <div class="main__content">
                <div class="main__subsection">
                    //= map
                    //= filters
                </div>
                <div class="main__section">