.btn {
  padding: 10px 25px;
  border-radius: 100px;
  border: none;
  background-color: #005382;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
  display: inline-block;
  font-family: Montserrat, sans-serif;
}
.btn:hover {
  background-color: #004a5d;
  color: #fff;
}
.btn_white {
  background-color: #fff;
  color: #002a31;
}
.btn_white:hover {
  background-color: #daf9ff;
  color: #002a31;
}
.btn_big {
  padding: 22px 53px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}
.btn_danger {
  background-color: #ff5f5f;
}
.btn_danger:hover {
  background-color: #c53030;
}

@media (max-width: 767px) {
  .btn_big {
    font-size: 13px;
    padding: 15px 40px;
  }
}
