.green {
  background-color: #2dab26;
}
.lightgreen {
  background-color: #85c12d;
}
.yellow {
  background-color: #edbd1a;
}
.red {
  background-color: #ff5f5f;
}

.color_green {
  color: #2dab26;
}
.color_lightgreen {
  color: #85c12d;
}
.color_yellow {
  color: #edbd1a;
}
.color_red {
  color: #ff5f5f;
}
