.crop-block {
  margin: 10px auto 20px;
  width: 400px;
  max-height: 400px;
  max-width: 100%;
}
#crop-avatar {
  display: block;
  max-width: 100%;
}
.cropper-view-box,
.cropper-face {
  border-radius: 50%;
}
.cropper-view-box {
  outline: 0;
  box-shadow: 0 0 0 1px #39f;
}
