.dates-booking {
  position: relative;
  padding: 10px;
}
.dates-booking__flex {
  display: flex;
  justify-content: space-between;
}
.dates-booking__date {
  flex: 1 1 45%;
  padding: 10px 20px 10px 10px;
}
.dates-booking__date:not(:first-child) {
  border-left: 1px solid #e6e6e6;
  padding: 10px 10px 10px 20px;
}
.dates-booking__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  margin-bottom: 8px;
}
.dates-booking__row {
  font-size: 18px;
  line-height: 22px;
}
.dates-booking__row:not(:last-child) {
  margin-bottom: 8px;
}
.selected,
.not-selected {
  display: none;
}
.selected.active,
.not-selected.active {
  display: block;
}
.dates-booking__change-dates {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.dates-booking__input {
  margin: 15px 0 30px;
  width: 100%;
  border: none;
  -webkit-appearance: none;
  box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 15px;
  border-radius: 13px;
  font-size: 18px;
  line-height: 22px;
}
.dates-booking__input:focus {
  outline: 2px solid #238f9b;
}

@media (max-width: 767px) {
  .dates-booking__title {
    font-size: 16px;
    line-height: 20px;
  }
  .dates-booking__row {
    font-size: 14px;
    line-height: 17px;
  }
  .dates-booking__date {
    border: none !important;
  }
  .dates-booking__change-dates {
    position: static;
    margin: 10px auto 0;
    display: block;
  }
  .dates-booking__change-dates::after {
    display: none;
  }
  .dates-booking__input {
    margin-bottom: 0;
  }
}
