.hint {
  position: relative;
}
.hint__text {
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  bottom: 100%;
  left: 0;
  font-size: 11px;
  white-space: nowrap;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);
  transition: 0.2s;
  transform: scale(0);
  transform-origin: bottom left;
}
.hint:hover .hint__text {
  transform: scale(1);
}
