.main {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}
.main__content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  position: relative;
}

.main__section {
  width: 100%;
  overflow-y: auto;
  padding: 60px 0;
}
.main__section::-webkit-scrollbar,
.main__subsection::-webkit-scrollbar {
  width: 0;
}

.main__section::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 60px;
  top: 0px;
  left: 0px;
  z-index: 9;
  background: linear-gradient(
    rgb(8, 96, 134) 0%,
    rgba(8, 96, 134, 0.9) 10%,
    rgba(8, 96, 134, 0.8) 20%,
    rgba(8, 96, 134, 0.7) 30%,
    rgba(8, 96, 134, 0.6) 40%,
    rgba(8, 96, 134, 0.5) 50%,
    rgba(8, 96, 134, 0.4) 60%,
    rgba(8, 96, 134, 0.3) 70%,
    rgba(8, 96, 134, 0.2) 80%,
    rgba(8, 96, 134, 0.1) 90%,
    rgba(8, 96, 134, 0) 100%
  );
}

.main__subsection {
  display: inline-block;
  height: 100%;
  min-width: 260px;
  max-width: 260px;
  overflow-y: auto;
  padding: 60px 0;
}

@media (max-width: 767px) {
  .main__content {
    flex-direction: column;
    gap: 20px;
  }

  .main__section,
  .main__subsection {
    max-height: 100% !important;
    overflow: visible;
  }
  .main__section {
    padding: 0 0 40px;
  }
  .main__subsection {
    padding: 20px 0 0;
  }
}
