/*= search */

.search {
  padding: 7px 12px;
}
.search__input {
  padding: 10px 20px 10px 45px;
  background-position: 17px center;
  background-size: 17px;
}
.search__button {
  font-size: 14px;
  line-height: 17px;
  padding: 10px 30px;
}
