<div class="main__menu">
  <div class="main__menu-mobil">
    <span class="main__menu-select">Личные данные</span>
    <img src="../img/icons/arr.png">
  </div>

  <ul class="main__menu-list">
    <li class="main__menu-item main__menu-item_active" data-target="user-data" data-title="Личные данные">
      <p class="main__menu-link">Личные данные</p>
    </li>
    <li class="main__menu-item" data-target="chat" data-title="Сообщения">
      <p class="main__menu-link">Сообщения</p>
    </li>
    <li class="main__menu-item" data-target="booking" data-title="Бронирование">
      <p class="main__menu-link">Бронирование</p>
    </li>
    <li class="main__menu-item" data-target="favourites" data-title="Избранное">
      <p class="main__menu-link">Избранное</p>
    </li>
    <li class="main__menu-item" data-target="reviews" data-title="Отзывы">
      <p class="main__menu-link">Отзывы</p>
    </li>
    <!-- <li class="main__menu-item" data-target="bonus" data-title="Бонусная программа">
      <p class="main__menu-link">Бонусная программа</p>
    </li> -->
    <li class="main__menu-item" data-target="questions" data-title="Вопросы">
      <p class="main__menu-link">Вопросы</p>
    </li>
    <li class="main__menu-item" data-modal-target="modal-logout">
      <p class="main__menu-link">Выйти</p>
    </li>
  </ul>
</div>