<div class="modal" id="modal-avatar">
  <div class="modal__content modal__content_small">
    <div class="modal__content-ovreflow">
      <!-- <div class="modal__cross" data-modal-target-close="modal-avatar">
        <img src="/img/icons/cross.png" alt="">
      </div> -->
      <div class="modal__title">Обрезка фото</div>

      <div class="crop-block">
        <img id="crop-avatar" src="/img/photo.jpg">
      </div>

      <div class="modal__footer">
        <button type="button" class="link-underline btn-save-avatar">Сохранить</button>
      </div>
    </div>
  </div>
</div>