<div class="modal" id="modal-confirm-password">
  <div class="modal__content">
    <div class="modal__title">Подтверждение изменений</div>
    <div class="modal__desc">Мы отправили код <span>на вашу почту</span></div>

    <div class="inputs-row">
      <input type="tel" class="input-code-confirm">
      <input type="tel" class="input-code-confirm">
      <input type="tel" class="input-code-confirm">
      <input type="tel" class="input-code-confirm">
    </div>

    <div class="modal__message"></div>

    <div class="modal__footer">
      <button type="button" class="link-underline">Отправить повторно</button>
      <button type="button" class="link-underline modal__btn btn-confirm-password">Подтвердить</button>
    </div>
  </div>
</div>