<div class="modal" id="modal-confirm-delete">
  <div class="modal__content">
    <div class="modal__cross" data-modal-target-close="modal-confirm-delete">
      <img src="/img/icons/cross.png" alt="">
    </div>
    <div class="modal__title">Подтверждение удаления</div>
    <div class="modal__desc">Мы отправили код подтверждения</div>

    <div class="inputs-row">
      <input type="tel" class="input-code-confirm">
      <input type="tel" class="input-code-confirm">
      <input type="tel" class="input-code-confirm">
      <input type="tel" class="input-code-confirm">
    </div>

    <div class="modal__message"></div>

    <div class="modal__footer">
      <button type="button" class="link-underline">Отправить повторно</button>
      <button type="button" class="link-underline modal__btn btn-delete-account">Подтвердить</button>
    </div>
  </div>
</div>