<div class="modal" id="modal-confirm-cancel">
  <div class="modal__content modal__content_small">
    <div class="modal__content-ovreflow">
      <div class="modal__cross" data-modal-target-close="modal-confirm-cancel">
        <img src="/img/icons/cross.png" alt="">
      </div>
      <div class="modal__title">Подтверждение отмены</div>
      <div class="modal__desc">Мы отправили код подтверждения</div>
      <div class="modal__desc">Вам вернется: <span class="return-sum"></span>р</div>

      <div class="inputs-row">
        <input type="tel" class="input-code-confirm">
        <input type="tel" class="input-code-confirm">
        <input type="tel" class="input-code-confirm">
        <input type="tel" class="input-code-confirm">
      </div>

      <div class="modal__message"></div>

      <button type="button" class="modal__link btn-repeat btn-cancel-booking" disabled>Отправить повторно</button>
      <div class="modal__footer">
        <button type="button" class="link-underline modal__btn btn-confirm-cancel">Подтвердить</button>
      </div>
    </div>
  </div>
</div>