/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Ysabeau:wght@800&display=swap");
@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf")
    format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Circe Rounded";
  /*src: url('CirceRounded-Regular.eot');*/
  src: /*local('Circe Rounded'), local('CirceRounded-Regular'),
        url('fonts/CirceRounded/CirceRounded-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/CirceRounded/CirceRounded-Regular.woff2') format('woff2'),
        url('fonts/CirceRounded/CirceRounded-Regular.woff') format('woff'),*/ url("../fonts/CirceRounded/CirceRounded-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*STYLES*/
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

input {
  border: none;
}
textarea:focus,
input:focus {
  transition: border 0.1s;
  outline: none;
  box-shadow: 0 0 0 3px #469bdf;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
}

body {
  width: 100%;
  border: 0;
  margin: 0;
}

/* HEADER */
.logo_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  color: #005382;
}
.info_area.phone_code {
  text-align: center;
  color: #000;
}

.req_human_button {
  /*text*/
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #005382;
}

/* BLOCK 1*/
.block_1 {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 56.29%,
    #005382 100%
  );
  /* url("../img/index/avif/sae_b_1.avif"); */
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  height: 0.2em;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.block_1_video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.header_b_1 {
  /* font-family: "Comfortaa"; */
  font-family: "Ysabeau", sans-serif;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  /* color: #005382; */
  color: #fff;
}

.space_place::placeholder {
  font-family: "Montserrat";
  font-style: normal;
}

.space_data {
  background: url(../img/index/date_icon.svg) no-repeat scroll 20px center,
    #eaeaea;
}

.space_data::placeholder {
  font-family: "Montserrat";
  font-style: normal;
}

.people_modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number_of_people {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background: no-repeat scroll 15px 45%, #eaeaea;
  font-family: "Montserrat";
  font-style: normal;
}

.number_of_people > label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  color: #828282;
}

.num_space {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.number {
  text-align: center;
  font-family: "Comfortaa";
  font-style: normal;
  color: #002a31;
  background: #eaeaea;
  align-self: flex-end;
}
.number input[type="number" i] {
  box-sizing: border-box;
  text-align: center;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}
.number input[type="number"]::-webkit-outer-spin-button,
.number input[type="number"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  background: none;
  color: transparent;
}
.number-minus {
  color: #005382;
  background: #eaeaea;
}
.number-plus {
  color: #005382;
  background: #eaeaea;
}

/* BLOCK 2 */
.block_2 {
  display: inline-block;
  background: radial-gradient(66.06% 50% at 50% 50%, #238f9b 0%, #005282 100%);
}

.heading_b_2 {
  font-family: "Comfortaa";
  font-style: normal;
  /* or 57px */
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.container_offer_space {
  display: flex;
  justify-content: center;
}

.hotel_card_photo {
  width: 100%;
  border-radius: 20px;
}

.container_offer_white {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  gap: 15px;

  min-width: 100px;
  width: 30%;
  border-radius: 30px;
  margin: 20px;
  padding: 20px;
}

.hotel_card_p1 {
  font-family: "Montserrat";
  font-style: normal;
  /* identical to box height */

  text-align: center;
  color: #002a31;
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.hotel_card_p2 {
  font-family: "Montserrat";
  font-style: normal;
  text-align: center;
  color: #002a31;

  margin: 0;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.hotel_card_more {
  margin-top: auto;
}

@media (max-width: 1100px) {
  .container_offer_white {
    margin: 10px;
    padding: 10px;
  }
}

/*BLOCK 3*/
.block_3 {
  background: linear-gradient(
      360deg,
      rgba(255, 255, 255, 0) 56.29%,
      #005382 100%
    ),
    url(../img/hotel/bg.png) repeat-y top center;
  background-size: 100%;
}

.text-header_3 {
  display: flex;
  flex-direction: column;
}

.heading_b_3 {
  font-family: "Comfortaa";
  display: flex;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  justify-content: center;
}

.b_3 {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding: 5%;
}

.left_b_3 {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
}

.text-header_3 {
  padding-top: 3%;
}

.heading_b_3 {
  height: 100%;
  font-weight: 700;
  font-size: 3vw;
  letter-spacing: 0.05em;
  margin: 0;
}

.left_b_3 {
  width: 30%;
}

.question_small_text {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  color: #002a31;
  margin: 0;
}

.chat-preview {
  border-radius: 30px;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  width: 100%;
  background-color: #fff;
  margin: 10px 0 25px;
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
}
.chat-preview__message {
  display: flex;
  align-items: top;
  gap: 10px;
  /* transform: translateY(100%); */
  opacity: 0;
}
.chat-preview__message-animation:nth-child(1) {
  animation: sendMessage 0.3s 1s ease forwards;
}
.chat-preview__message-animation:nth-child(2) {
  animation: sendMessage 0.3s 2s ease forwards;
}
.chat-preview__message-animation:nth-child(3) {
  animation: sendMessage 0.3s 3s ease forwards;
}
.chat-preview__message-animation:nth-child(4) {
  animation: sendMessage 0.3s 5s ease forwards;
}
.chat-preview__message-animation:nth-child(5) {
  animation: sendMessage 0.3s 6s ease forwards;
}
.chat-preview__message-clear-animation {
  animation: clearMessage 0.2s ease forwards;
}
.chat-preview__message_right {
  justify-content: flex-end;
}
.chat-preview__message_right .chat-preview__text {
  order: 0;
  background-color: rgb(43, 152, 214);
  color: #fff;
}
.chat-preview__text {
  border-radius: 20px;
  padding: 10px 15px;
  background-color: #eaeaea;
  color: #000;
  font-size: 14px;
  line-height: 18px;
  order: 1;
  max-width: 65%;
}
.chat-preview__avatart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.chat-preview__img {
  width: 30px;
}
.chat-preview__name {
  text-align: center;
  white-space: nowrap;
  font-size: 10px;
  line-height: 10px;
  opacity: 0.6;
}

@keyframes sendMessage {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes clearMessage {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.go_button_b_3 {
  text-transform: uppercase;
  background-color: #005382;
}

.form_send {
  min-width: 100px;
  width: 35%;
  height: 100%;
  padding: 30px;
  box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
  border-radius: 30px;
  background-color: #fff;
}

.text_form_d_3 {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  padding: 0 30px;
  margin: 0;
}

.question {
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  margin-top: 16px;
}
.mail {
  margin: 20px 0;
}

.question,
.mail {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  border-radius: 20px;
  background-color: #eaeaea;
  padding: 16px;
  width: 100%;
  border: none;
}

.question::placeholder,
.question::-webkit-input-placeholder,
.question::-moz-placeholder,
.question:-ms-input-placeholder,
.question:-moz-placeholder,
.mail::placeholder,
.mail::-webkit-input-placeholder,
.mail::-moz-placeholder,
.mail:-ms-input-placeholder,
.mail:-moz-placeholder {
  font-size: 14px;
  line-height: 27px;
}

.send_button {
  width: 100%;
  background-color: #005382;
  text-transform: uppercase;
}
.form_send__row {
  display: flex;
  align-items: center;
  margin-top: 18px;
  gap: 10px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 200;
  line-height: 22px;
}
.form_send__row a {
  color: #469bdf;
  text-decoration: underline;
}

.middle_d_3 {
  font-family: Circe Rounded;
  font-size: 55px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0.05em;
  color: #005382;
  text-align: center;
}

@media (max-width: 1400px) {
  .b_3 {
    justify-content: space-between;
  }
  .left_b_3,
  .form_send {
    width: 40%;
  }
}
@media (max-width: 950px) {
  .b_3 {
    flex-direction: column;
  }
  .text_form_d_3 {
    padding: 0;
  }
  .left_b_3,
  .form_send {
    width: 100%;
    max-width: 450px;
  }
  .middle_d_3 {
    margin: 35px 0;
  }
}

/*FOOTER*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

footer > a {
  width: fit-content;
}

.sponsers {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.sponsers .img_spons_1 {
  height: 35px;
}
.sponsers .img_spons_2 {
  height: 50px;
}

.img_3 {
  position: relative;
  height: 50px;
}

.dowload {
  display: flex;
  flex-direction: row;
}

/*REGISTRATION*/
.registration_background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 42, 49, 0.8);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  overflow-y: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
}

.registration_background.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
  display: block;
}

.hystmodal__opened {
  position: fixed;
  right: 0;
  left: 0;
  overflow: hidden;
  top: auto;
}

/*parts of registration*/
#stage_1 {
  display: none;
}
#stage_2 {
  display: none;
}
#stage_3 {
  display: none;
}
#stage_4 {
  display: none;
}
#log_in {
  display: none;
}

#back_up_1 {
  display: none;
}
#back_up_2 {
  display: none;
}

.block_register_1 {
  min-heigh: 60%t;
  max-height: 76%;
  padding: 5.6% 8.6%;
  box-shadow: 0px 5px 34px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.info_area {
  background: #eaeaea;
  border-radius: 10px;
  min-height: 60px;
  max-height: 80px;
  margin: 10px 0;
  width: 100%;
}
.sponsers_2 img {
  height: 50px;
}

/*-------JS--------*/

.person-close {
  display: none;
}
.modal-count-person-show {
  display: flex;
}
