@media (min-width: 310px) and (max-width: 699px) {
  /*NAV*/
  .uk-icon {
    background-color: #ffffff;
  }

  .logo_picture {
    width: 20vmin;
    min-height: 37px;
  }

  .req_human_button {
    padding: 10px 25px;
    margin: 10px;
    min-width: 239px;
    max-height: 37px;
    background: #005382;
    border-color: #ffffff;
    border-radius: 64px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
  }

  /*BLOCK 1*/
  .block_1 {
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 56.29%,
        #005382 100%
      ),
      url("../img/index/avif/bg.png");
    max-height: 700px;
    height: 90vh;
    justify-content: flex-start;
    padding: 5% 0;
    /*padding: 20% 0 30% 0;*/
    margin-bottom: -1px;
  }
  .block_1_video {
    display: none;
  }

  .header_b_1 {
    font-weight: 700;
    font-size: 6vmin;
    line-height: 135%;
    width: 78%;
    padding: 2% 0;
    margin-top: 25vmin;
  }

  .modal-count-person-show {
    position: absolute;
    z-index: 1;
    display: flex;
    padding: 2%;
    height: 53vmin;
    width: 88vw;
    border-radius: 8vmin;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    display: flex;
    align-items: center;
  }

  .number_of_people > label {
    width: 90%;
    height: 9vmin;
    padding: 0.1%;
    padding-right: 0;
    font-weight: 400;
    font-size: 4vmin;
    line-height: 1;
  }

  .count-child > label {
    width: 100%;
    height: 15vmin;
    padding-right: 0;
    margin: 2vmin 0;
    font-weight: 400;
    font-size: 4vmin;
    line-height: 1;
    gap: 3vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .number {
    height: 5vmin;
    aspect-ratio: 1.5/1.2;
    margin: 2.1vmin 0;
    font-weight: 300;
    font-size: 5vmin;
    line-height: 22px;
  }
  .number input[type="number" i] {
    height: 32px;
    line-height: 32px;
    padding: 0;
    margin: 0;
  }
  .number input[type="number"]::-webkit-outer-spin-button,
  .number input[type="number"]::-webkit-inner-spin-button {
    margin: 0;
  }
  .number-minus {
    padding: 0 0 11vmin;
    font-size: 10vmin;
    font-weight: 300;
    z-index: 1;
    height: 10vmin;
  }
  .number-plus {
    margin: 0;
    font-size: 7vmin;
    font-weight: 300;
    z-index: 1;
  }

  .add-one-children {
    width: 50vmin;
    height: 7vmin;
    border-color: #005382;
    border: 0.5vmin solid #005382;
    border-radius: 5vmin;
  }

  .new-child-block {
  }

  .button_ready {
    position: relative;
    font-size: 4vmin;
    width: 68vmin;
    height: 8vmin;
    margin: 10% 0;
    background: #005382;
    color: white;
    border-radius: 5vmin;
    top: 9vmin;
  }

  /*BLOCK 2*/
  .block_2 {
    width: 100%;
    min-height: 1350px;
    padding: 10vmin 0;
    border: 0;
  }

  .heading_b_2 {
    width: 100%;
    max-width: 300px;
    max-height: 104px;
    margin: 50px auto 1% auto;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.05em;
  }

  .container_offer_space {
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 3%;
  }

  .container_offer_white {
    width: 100%;
    max-width: 300px;
    margin: 15px auto;
  }

  /* BLOCK 3 */
  .heading_b_3 {
    font-size: 20px;
    line-height: 26px;
  }
  .text_form_d_3 {
    line-height: 20px;
  }
  .mail {
    margin: 10px 0;
  }
  .form_send {
    padding: 10px;
  }
  .form_send__row {
    margin-top: 10px;
  }
  .question_small_text {
    font-size: 16px;
  }

  /*FOOTER*/
  footer {
    display: flex;
    width: 100%;
    min-height: 178px;
    max-height: 300px;
    padding: 2% auto;
    gap: 8%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .icon_sponsers {
    display: flex;
    justify-content: center;
    width: 90vw;
    flex-wrap: wrap;
  }

  .dowload,
  .sponsers {
    margin-bottom: 20px;
  }

  .sponsers img {
    height: 10vmin;
  }

  .sponsers_2 {
    display: flex;
    width: 70vw;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .dowload {
    height: 10vmin;
    gap: 5%;
  }

  .img_spons_3 {
    width: 22vmin;
    height: 12vmin !important;
  }

  .img_spons_4 {
    width: 31vmin;
  }

  .img_spons_5 {
    width: 30vmin;
    height: 18vmin !important;
  }

  .img_spons_6 {
    width: 30vmin;
    height: 18vmin !important;
  }
}
