@media (min-width: 700px) and (max-width: 1279px) {
  /* HEADER */
  .uk-icon {
    background-color: #ffffff;
  }

  .img_nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .logo_picture {
    width: 8vmin;
    min-height: 37px;
    margin-top: 3vmin;
  }

  .nav_logo {
    font-size: 3vmin;
    font-family: "Raleway", sans-serif;
    margin-top: 5%;
  }

  /* BLOCK 1*/
  .block_1 {
    height: 0.2em;
    max-height: 700px;
    padding: 20% 0 30% 0;
    margin-bottom: -1px;
  }

  .header_b_1 {
    width: 70vmin;
    height: 50vmin;
    font-weight: 700;
    font-size: 5vmin;
    line-height: 127%;
  }

  input::-webkit-calendar-picker-indicator {
    display: none;
  }

  .space_data {
    padding: 0.5% 0.5% 0.5% 5%;
    min-width: 240px;
    max-width: 20%;
    height: 66px;
    border-radius: 84px;
  }

  .space_data::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  .num_space {
    min-width: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .modal-count-person-show {
    position: absolute;
    z-index: 1;
    display: flex;
    padding: 2%;
    height: 30vmin;
    width: 21vw;
    border-radius: 3vmin;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    display: flex;
    align-items: center;
  }

  .number_of_people > label {
    width: 90%;
    height: 9vmin;
    padding: 0.1%;
    padding-right: 0;
    font-weight: 400;
    font-size: 2.3vmin;
    line-height: 1;
  }

  .count-child > label {
    width: 100%;
    height: 9vmin;
    padding-right: 0;
    font-weight: 400;
    font-size: 2.3vmin;
    line-height: 1;
    gap: 2vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .number {
    height: 3.5vmin;
    aspect-ratio: 1.5/1.2;
    margin: 3.1vmin 0;
    font-weight: 300;
    font-size: 2.3vmin;
    line-height: 22px;
  }
  .number input[type="number" i] {
    height: 32px;
    line-height: 32px;
    padding: 0;
    margin: 0;
  }
  .number input[type="number"]::-webkit-outer-spin-button,
  .number input[type="number"]::-webkit-inner-spin-button {
    margin: 0;
  }
  .number-minus {
    padding: 0 0 1.3vmin;
    font-size: 6vmin;
    font-weight: 300;
    z-index: 1;
    height: 10vmin;
  }
  .number-plus {
    margin: 0;
    font-size: 5vmin;
    font-weight: 300;
    z-index: 1;
  }

  .add-one-children {
    width: 30vmin;
    height: 4vmin;
    border-color: #005382;
    border: 0.3vmin solid #005382;
    border-radius: 5vmin;
  }

  .new-child-block {
  }

  .button_ready {
    position: relative;
    width: 30vmin;
    height: 5vmin;
    margin: 10% 0;
    background: #005382;
    color: white;
    border-radius: 5vmin;
    top: 4vmin;
    font-size: 2vmin;
  }

  /* BLOCK 2 */
  .block_2 {
    width: 100%;
    border: 0;
  }

  .heading_b_2 {
    min-width: 200px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
    min-height: 114px;
    font-weight: 600;
    font-size: 3vw;
    line-height: 130%;
    /* or 57px */
  }

  .container_offer_space {
    margin-bottom: 3%;
  }

  /*FOOTER*/
  footer {
    display: flex;
    width: 100%;
    min-height: 178px;
    max-height: 300px;
    padding: 2% auto;
    gap: 8%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .icon_sponsers {
    display: flex;
    justify-content: space-between;
    width: 80vw;
  }

  .sponsers_2 {
    display: flex;
    width: 70vw;
    align-items: center;
    justify-content: space-evenly;
  }

  .dowload {
    height: 10vmin;
    gap: 5%;
  }

  .img_spons_3 {
    width: 22vmin;
    height: 12vmin !important;
  }

  .img_spons_4 {
    width: 31vmin;
  }

  .img_spons_5 {
    width: 30vmin;
    height: 18vmin !important;
  }

  .img_spons_6 {
    width: 30vmin;
    height: 18vmin !important;
  }
}
