/*= components/datepicker */
/*= components/mainContent */
/*= components/btn */
/*= components/range */
/*= components/link-underline */
/*= components/load */
/*= components/page-content */
/*= components/modal */
/*= components/hint */
/*= components/header */
/*= components/widget-chat */
/*= components/chat */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.container_big {
  max-width: 1600px;
}
label {
  cursor: pointer;
}
.invert {
  filter: brightness(0) invert(1);
}
.map-iframe {
  border-radius: 20px;
  border: none;
  width: 100%;
  height: 400px;
  overflow: hidden;
  background-color: #fffef7;
}
#modal-logout .modal__content {
  height: 200px;
  width: 580px;
  display: flex;
  flex-direction: column;
}
#filter-null-text {
  color: #fff;
  margin-top: 20px;
}
input:focus {
  transition: border 0.1s;
  outline: 0;
  box-shadow: 0 0 0 3px #469bdf;
}
button:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: none;
  box-shadow: none;
}
a:hover {
  text-decoration: none;
}
.input-row {
  position: relative;
}
.toggle-show-password {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
  cursor: pointer;
  transition: 0.2s;
  width: 17px;
}
.toggle-show-password:hover {
  opacity: 1;
}
.toggle-show-password__img {
  display: none;
}
.toggle-show-password__img.active {
  display: block;
}

* {
  scrollbar-width: 2px;
  scrollbar-color: #ccc transparent;
}
*::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
  border: none;
}

@media (max-width: 1440px) {
  .container_big {
    max-width: 1200px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 10px;
  }
}
