/*= default */
/*= index/main_2 */
/*= components/mainMenu */
/*= components/mainButton */
/*= components/colors */

.main__section::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 60px;
  top: 0px;
  left: 0px;
  z-index: 1;
  background: linear-gradient(
    rgb(6, 91, 132) 0%,
    rgba(6, 91, 132, 0.9) 10%,
    rgba(6, 91, 132, 0.8) 20%,
    rgba(6, 91, 132, 0.7) 30%,
    rgba(6, 91, 132, 0.6) 40%,
    rgba(6, 91, 132, 0.5) 50%,
    rgba(6, 91, 132, 0.4) 60%,
    rgba(6, 91, 132, 0.3) 70%,
    rgba(6, 91, 132, 0.2) 80%,
    rgba(6, 91, 132, 0.1) 90%,
    rgba(6, 91, 132, 0) 100%
  );
}

.modal__content {
  padding: 25px;
  width: 90%;
  max-width: 580px;
  text-align: center;
  height: 487px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
}
.main {
  background: url("../img/bg.png") no-repeat center;
  background-size: cover;
}
.main__photo-and-input-name {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.main__header-data,
.main__footer-data {
  color: #828282;
  position: absolute;
  left: 20px;
  font-size: 18px;
  top: 50%;
  transform: translateY(-50%);
}
.main__footer-data {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main__footer-data img {
  width: 20px;
}
.main__footer-forms .main__footer-data {
  left: 0;
  z-index: 1;
}
.main__header-form,
.main__footer-form {
  position: relative;
}
.main__header-form:not(:last-child) {
  margin-bottom: 16px;
}
.main__footer-form:not(:last-child) {
  border-bottom: 1px solid #eaeaea;
}
.main__footer-forms {
  margin-top: 16px;
  background-color: #fff;
  border-radius: 20px;
  padding: 0 20px;
}
.main__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}
.msg {
  margin-right: 15px;
  color: #fff;
  font-size: 13px;
  opacity: 0;
  transition: 0.2s;
}
.msg.active {
  opacity: 1;
}
.filter-btn.active {
  background-color: #fff;
  color: #005382;
}
.change-data {
  position: relative;
}
.change__text,
.save__text {
  transition: 0.2s;
  white-space: nowrap;
  line-height: 15px;
}
.save__text {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.change-data.active .change__text {
  opacity: 0;
}
.change-data.active .save__text {
  opacity: 1;
}
.main__photo {
  width: 212px;
  height: 212px;
  border-radius: 1000px;
  overflow: hidden;
}
.main__header-forms {
  flex-grow: 1;
}

.input {
  width: 100%;
  color: #002a31;
  outline: none;
  border: none;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-align-last: center;
  border-radius: 20px;
  padding-top: 19px;
  padding-bottom: 19px;
  font-size: 18px;
  transition: 0.2s;
  position: relative;
}
.input {
  background-color: #fff;
  color: #002a31;
  -webkit-text-fill-color: #002a31;
  opacity: 1;
}
.footer-input:disabled {
  background-color: transparent;
}
.input::-webkit-calendar-picker-indicator {
  display: none;
}
.email-hint {
  z-index: 1;
}
.input-hint {
  position: absolute;
  width: 16px;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
.input-hint__not-active {
  display: none;
}
.input-hint__text {
  transform: scaleX(0) translateY(-50%);
  transform-origin: right;
  transition: 0.2s;
  position: absolute;
  top: 50%;
  right: 100%;
  margin: 0 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  border-radius: 5px;
  z-index: 3;
}
.input-hint__img:hover + .input-hint__text {
  transform: scale(1) translateY(-50%);
}

.footer-input {
  width: 100%;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 1;
  background: transparent;
}

::-webkit-input-placeholder {
  color: darkgray;
}

.inputs-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  max-width: 230px;
  margin: 0 auto;
}

.filters {
  display: flex;
  align-items: center;
  gap: 10px 20px;
  flex-wrap: wrap;
}
.hotels {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.hotel-card {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  flex: 1 1 48%;
}
.hotel-card_hidden {
  visibility: hidden;
  padding: 0 !important;
}
.hotel-card__head {
  display: flex;
  gap: 10px;
}
.hotel-card__img {
  flex-basis: 50%;
  border-radius: 20px;
  overflow: hidden;
}
.hotel-card__img img {
  display: block;
}
.hotel-card__main-info {
  flex-basis: 50%;
}
.hotel-card__status {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
  margin-bottom: 11px;
}
.hotel-card__status .value {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  font-weight: 600;
}
.hotel-card__status .value_active {
  color: #31bb00;
}
.hotel-card__status .value_completed {
  color: #007895;
}
.hotel-card__status .value_fail {
  color: #ff5f5f;
}
.hotel-card__name {
  margin-bottom: 16px;
}
.hotel-card__name,
.hotel-card__geo {
  font-size: 18px;
  line-height: 22px;
  color: #002a31;
}
.hotel-card__geo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.hotel-card__geo::before {
  content: "";
  display: inline-block;
  width: 18px;
  background: url("../img/icons/geo.svg") center no-repeat;
  background-size: contain;
  height: 18px;
}
.hotel-card__info {
  margin-top: 15px;
}
.hotel-card__info-row {
  margin-top: 10px;
  display: flex;
  align-items: baseline;
}
.hotel-card__info-title {
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  flex-basis: 47%;
}
.hotel-card__info-value {
  font-size: 18px;
  line-height: 22px;
}

.table-block {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px 0;
}
.table {
  border-collapse: collapse;
  width: 100%;
}
.table tr:not(:last-child) {
  margin-bottom: 16px;
}
.table tbody tr {
  transition: 0.2s;
}
.table tbody tr:hover {
  background-color: #f1feff;
}
.table tbody tr:hover .remove-favourites {
  opacity: 0.5;
}
.table th {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #828282;
  text-align: center;
  padding: 0 25px 10px;
  white-space: nowrap;
}
.table td {
  padding: 16px 12px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  position: relative;
}
.table td:first-child {
  padding-left: 20px;
}
.table td:last-child {
  padding-right: 20px;
}
.table th:not(:last-child),
.table td:not(:last-child) {
  border-right: 1px solid #eaeaea;
}
.table-dates {
  max-width: 142px;
}
.table__image-block {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: left;
}
.table__image-block img {
  border-radius: 20px;
  width: 150px;
}
.bonus-table .table__image-block img {
  border-radius: 10px;
  width: 100px;
}
.bonus-table__date-desc {
  font-size: 12px;
}
.nowrap {
  white-space: nowrap;
}
.bonus_positive {
  color: #31bb00;
}
.bonus_negative {
  color: #ff5f5f;
}
.favourites-stars {
  width: 115px;
}
.balance-bonus {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  max-width: 360px;
}

.reviews {
  display: flex;
  gap: 40px;
}
.reviews__column {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.reviews-card {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}
.reviews-card__header {
  display: flex;
  justify-content: space-between;
}
.reviews-card__date-review {
  margin-bottom: 2px;
}
span.reviews-card__date-title {
  font-size: 15px;
  line-height: 15px;
  color: #828282;
  display: inline-block;
  min-width: 81px;
}
.reviews-card__estimation {
  width: 32px;
  height: 32px;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}
span.reviews-card__date-value {
  font-size: 15px;
  line-height: 15px;
  color: #002a31;
}
.reviews-card__stars {
  width: 75px;
}
.reviews-card__hotel-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 16px 0;
}
.reviews-card__img {
  width: 100px;
  min-width: 100px;
  border-radius: 13px;
  overflow: hidden;
}
.reviews-card__img img {
  display: block;
}
.reviews-card__name {
  margin-top: 5px;
}
.reviews-card__name,
.reviews-card__geo {
  font-size: 18px;
  line-height: 22px;
  color: #002a31;
}
.reviews-card__geo {
  margin-top: 8px;
}
.reviews-card__content {
  background-color: #f1feff;
  border-radius: 13px;
  padding: 10px;
}
.reviews-card__author {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.reviews-card__avatar {
  width: 40px;
  border-radius: 100px;
  overflow: hidden;
  height: 40px;
  display: flex;
  align-items: center;
}
.reviews-card__author-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}
.reviews-card__msg-title {
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  margin-bottom: 8px;
}
.reviews-card__msg-title_good {
  color: #31bb00;
}
.reviews-card__msg-title_bad {
  color: #ff5f5f;
}
.reviews-card__msg-text {
  font-size: 18px;
  line-height: 22px;
}
.reviews-card__msg-text:not(:last-child) {
  margin-bottom: 16px;
}

.change-data-background {
  position: fixed;
  width: 100%;
  height: 200%;
  top: -50%;
  left: 0;
  background-color: #000;
  z-index: 1;
  animation: fadeIn 0.2s ease forwards;
}
.change-data-background.remove {
  animation: fadeOut 0.2s ease forwards;
}

#user-data {
  z-index: 2;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
@keyframes fadeOut {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}

.main__photo-img {
  width: 100%;
  pointer-events: none;
}
.input-avatar {
  display: none;
}
.label-input-avatar {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}
.block-input-avatar {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  color: #fff;
  height: 50px;
  bottom: -50px;
  text-align: center;
  padding: 12px;
  transition: 0.3s;
  cursor: pointer;
}
.label-input-avatar:hover .input-avatar:not(:disabled) ~ .block-input-avatar {
  bottom: 0;
}

.hotel-card_mobile {
  display: none;
}
.hotel-card_mobile .hotel-card:not(:last-child) {
  margin-bottom: 20px;
}
.hotel-card_mobile .hotel-card__info-row {
  justify-content: space-between;
}
.hotel-card_mobile .favourites-stars {
  width: 85px;
}
.hotel-card_mobile .hotel-card__status {
  justify-content: flex-end;
}
.favourites-table .remove-favourites {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0;
}
.remove-favourites {
  width: 12px;
  opacity: 0.5;
  transition: 0.2s;
  cursor: pointer;
}
.remove-favourites:hover {
  opacity: 1 !important;
}

.remove-row {
  position: absolute;
  transform: scaleY(0);
  transition: 0.3s;
  opacity: 0;
  transform-origin: top;
}
.btn-delete-account {
  margin-right: auto;
  visibility: hidden;
  transition: 0.2s;
  opacity: 0;
}
.btn-delete-account.active {
  visibility: visible;
  opacity: 1;
}
.modal__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.error-text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
.block_3 {
  background: none;
}
.b_3 {
  flex-direction: column;
}
.text_form_d_3 {
  padding: 0;
}
.left_b_3,
.form_send {
  width: 100%;
  max-width: 450px;
}
.middle_d_3 {
  margin: 35px 0;
}

@media (max-width: 1140px) {
  .hotel-card {
    flex-basis: 100%;
  }
}
@media (max-width: 1075px) {
  .favourites-table,
  .bonus-table {
    display: none;
  }
  .hotel-card_mobile {
    display: block;
  }
}
@media (max-width: 991px) {
  .input-hint {
    right: auto;
    left: 65px;
  }
  .input-hint__text {
    transform-origin: left;
    right: auto;
    left: 100%;
  }
  .main__photo-and-input-name {
    flex-direction: column;
  }
  .main__photo {
    margin: 0 auto;
  }
  .input {
    text-align: right;
    text-align-last: right;
  }
  .main__header-form .input {
    padding-right: 20px;
  }
  .reviews {
    flex-wrap: wrap;
  }
  .reviews-card__img {
    width: 120px;
    min-width: 120px;
  }
  .balance-bonus {
    max-width: 100%;
  }
  .hotel-card__head {
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .main__section::before {
    display: none;
  }
  .input-hint {
    left: 40px;
    width: 12px;
  }
  .input-hint__text {
    font-size: 10px;
  }
  .main {
    background-image: url("../img/bg-mobil.png");
  }
  .main__photo {
    width: 180px;
    height: 180px;
  }
  .main__footer-data,
  .main__header-data {
    font-size: 10px;
    line-height: 12px;
  }
  .main__buttons {
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  .main__buttons .main__button {
    width: 100%;
  }
  .btn-delete-account {
    order: 2;
  }
  .change-data {
    order: 1;
  }
  .msg {
    position: absolute;
    top: 50%;
    margin: 0;
  }
  .input {
    font-size: 14px;
    line-height: 17.07px;
    padding-top: 17px;
    padding-bottom: 17px;
  }
  .main__header-form:not(:last-child) {
    margin-bottom: 8px;
  }
  .filter-btn {
    flex-grow: 1;
  }
  .hotel-card {
    padding: 10px;
  }
  .hotel-card__img {
    border-radius: 13px;
  }
  .hotel-card__status {
    margin-bottom: 10px;
  }
  .hotel-card__status,
  .hotel-card__status .value {
    font-size: 10px;
    line-height: 12px;
  }
  .hotel-card__name {
    margin-bottom: 8px;
  }
  .hotel-card__geo,
  .hotel-card__name {
    font-size: 14px;
    line-height: 17.07px;
  }
  .hotel-card__geo {
    gap: 3px;
  }
  .hotel-card__geo::before {
    width: 15px;
    height: 15px;
  }
  .hotel-card__info-title {
    font-size: 10px;
    line-height: 12px;
  }
  .hotel-card__info-value {
    font-size: 14px;
    line-height: 17.07px;
  }
  .hotel-card__info-row {
    margin-top: 8px;
  }
  .balance-bonus {
    padding: 13px 10px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 17.07px;
  }
  .reviews__column {
    gap: 20px;
  }
  .reviews-card {
    padding: 10px;
    border-radius: 15px;
  }
  .reviews-card__stars {
    width: 55px;
  }
  .reviews-card__hotel-info {
    margin: 8px 0 16px;
  }
  .reviews-card__img {
    width: 74px;
    min-width: 74px;
    border-radius: 10px;
  }
  .reviews-card__geo,
  .reviews-card__name {
    font-size: 14px;
    line-height: 17.07px;
  }
  .reviews-card__avatar {
    width: 30px;
    height: 30px;
  }
  .reviews-card__author-name {
    font-size: 14px;
    line-height: 17.07px;
  }
  .reviews-card__msg-title {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 4px;
  }
  .reviews-card__msg-text {
    font-size: 14px;
    line-height: 17.07px;
  }
  .reviews-card__msg-text:not(:last-child) {
    margin-bottom: 10px;
  }
  .filters {
    overflow-x: auto;
    flex-wrap: nowrap;
  }
  .filters::-webkit-scrollbar,
  .filters::-webkit-scrollbar {
    width: 0;
  }
}
