body {
  font-family: 'Montserrat', sans-serif;
}
img {
  max-width: 100%;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
}
.logo {
  display: inline-block;
  text-align: center;
}
.logo__text {
  cursor: default;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
}
.logo__text-one {
  color: #238F9B;
}
.logo__text-two {
  color: #005382;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__buttons {
  margin-left: 624px;
}
.header__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-transform: uppercase;
  font-weight: 500;;
  font-size: 14px;
  color: #005382;
  background-color: #fff;
  border-radius: 64px;
  padding: 10px 25px;
  border: 1px solid #005382;
  margin: 32.5px 23px 32.5px 0;
  cursor: pointer;
  transition: 0.2s;
}
.header__button:hover {
  background-color: #005382;
  color: #fff;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 10px;
}
.header__icon {
  cursor: pointer;
}

.main {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  background: url("../img/bg.png") no-repeat center;
  background-size: cover;
}
.main__content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  position: relative;
}
.main__photo-and-input-name {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.main__header-data,
.main__footer-data {
  color: #828282;
  position: absolute;
  left: 20px;
  font-size: 18px;
  top: 50%;
  transform: translateY(-50%);
}
.main__footer-forms .main__footer-data {
  left: 0;
}
.main__header-form, .main__footer-form {
  position: relative;
}
.main__header-form:not(:last-child) {
  margin-bottom: 16px;
}
.main__footer-form:not(:last-child) {
  border-bottom: 1px solid #EAEAEA;
}
.main__footer-forms {
  margin-top: 16px;
  background-color: #fff;
  border-radius: 20px;
  padding: 0 20px;
}
.main__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}
.msg {
  margin-right: 15px;
  color: #fff;
  font-size: 13px;
  opacity: 0;
  transition: 0.2s;
}
.msg.active {
  opacity: 1;
}
.main__button {
  font-size: 13px;
  padding: 7px 17.5px;
  background: none;
  color: white;
  border-radius: 22px;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.2s;
}
.filter-btn.active,
.main__button:hover {
  background-color: #fff;
  color: #005382;
}
.change-data {
  position: relative;
}
.change__text,
.save__text {
  transition: 0.2s;
  white-space: nowrap;
  line-height: 15px;
}
.save__text {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.change-data.active .change__text{
  opacity: 0;
}
.change-data.active .save__text{
  opacity: 1;
}
.main__menu {
  display: inline-block;
  background-color: #fff;
  border-radius: 20px;
  height: 100%;
  min-width: 260px;
  margin: 60px 0;
}
.main__section::-webkit-scrollbar {
  width: 0;
}
.main__menu-list {
  text-align: center;
  list-style-type: none;
  margin: 21px 15px;
  color: #005382;
  font-size: 18px;
}
.main__menu-item {
  margin-top: 10px;
  cursor: pointer;
}
.main__menu-item_active {
  border-radius: 20px;
  position: relative;
  cursor: default;
}
.main__menu-item_active::before,
.main__menu-item_active::after {
  content: '';
  position: absolute;
  display: block;
  border-radius: 20px;
  background-color: transparent;
  animation: border 0.3s ease forwards;
}
.main__menu-item_active::before {
  border-top: 1px solid #005382;
  border-left: 1px solid #005382;
  border-bottom-color: transparent;
  border-right-color: transparent;
  top: 0;
  left: 0;
}
.main__menu-item_active::after {
  border-bottom: 1px solid #005382;
  border-right: 1px solid #005382;
  border-top-color: transparent;
  border-left-color: transparent;
  bottom: 0;
  right: 0;
}
@keyframes border {
  0% {
    width: 0;
    height: 0;
  }
  100%  {
    width: 100%;
    height: 100%;
  }
}
.main__menu-item_active .main__menu-link::after {
  display: none;
}
.main__menu-link {
  color: #005382;
  text-decoration: none;
  padding: 24px 0;
  display: inline-block;
  position: relative;
}
.main__menu-link::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 21px;
  transition: 0.3s;
  left: 50%;
  width: 0;
  height: 1px;
  border-radius: 1px;
  background-color: #005382;
}
.main__menu-item:hover .main__menu-link::after {
  width: 100%;
  left: 0;
}
.main__section {
  width: 100%;
  overflow-y: auto;
  padding: 60px 0;
}
.main__photo {
  width: 212px;
  height: 212px;
  border-radius: 1000px;
  overflow: hidden;
}
.main__header-forms {
  flex-grow: 1;
}

.input {
  width: 100%;
  color: #002A31;
  outline: none;
  border: none;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-align-last: center;
  border-radius: 20px;
  padding-top: 19px;
  padding-bottom: 19px;
  font-size: 18px;
  transition: 0.2s;
  position: relative;
}
.input:disabled {
  background-color: #fff;
  color: #002A31;
  -webkit-text-fill-color: #002A31;
  opacity: 1;
}
.input::-webkit-calendar-picker-indicator {
  display: none;
}
.input-hint {
  position: absolute;
  width: 16px;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
.input-hint__not-active {
  display: none;
}
.input-hint__text {
  transform: scaleX(0) translateY(-50%);
  transform-origin: right;
  transition: 0.2s;
  position: absolute;
  top: 50%;
  right: 100%;
  margin: 0 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
  white-space: nowrap;
  border-radius: 5px;
  z-index: 3;
}
.input-hint__img:hover + .input-hint__text {
  transform: scale(1) translateY(-50%);
}


.footer-input {
  width: 100%;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

::-webkit-input-placeholder {
  color: darkgray;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  opacity: 0;
  transition: opacity 0.2s;
  display: none;
  align-items: center;
  justify-content: center;
}
.modal_open {
  opacity: 1;
  transform: scale(1);
}
.modal_open .modal__content {
  transform: scale(1);
}
.modal__content {
  background-color: #fff;
  border-radius: 20px;
  padding: 25px;
  width: 90%;
  max-width: 580px;
  text-align: center;
  box-sizing: border-box;
  height: 487px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: scale(0.5);
  transition: 0.2s;
}
.modal__title {
  font-size: 25px;
  color: #002A31;
  text-align: center;
  margin-top: auto;
}
.modal__desc {
  font-size: 18px;
  line-height: 22px;
  margin-top: 8px;
  margin-bottom: 20px;
}
.inputs-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  max-width: 230px;
  margin: 0 auto;
}
.input-code-confirm {
  width: 50px;
  height: 60px;
  background-color: #EAEAEA;
  border-radius: 10px;
  border: none;
  font-size: 2em;
  text-align: center;
}
.modal__message {
  margin-top: 20px;
  height: 20px;
}
.modal__message_error {
  color: #900000;
}
.modal__message_success {
  color: #009000;
}
.modal__footer {
  text-align: right;
  margin-top: auto;
}
.modal__btn {
  font-size: 18px;
  line-height: 22px;
  color: #0E5E6F;
  background-color: #fff;
  border: none;
  cursor: pointer;
  position: relative;
}
.modal__btn::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  border-radius: 2px;
  transition: 0.3s;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #0E5E6F;
}
.modal__btn:hover::after {
  width: 100%;
}
.modal__stage-and-button {
  display: flex;
  margin-top: 114px;
}
.modal__stage {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-right: 105px;
  margin-bottom: 30px;
}
.modal__input {
  margin-top: 23px;
  width: 100%;
  height: 60px;
  background-color: #EAEAEA;
  border: none;
  color: #828282;
  font-size: 14px;
  border-radius: 10px;
  padding-left: 20px;
  box-sizing: border-box;
}
.modal__descr-text {
  font-size: 12px;
  margin: 8px 0 8px 20px;
}
.modal__input-password-new {
  margin-top: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.filters {
  display: flex;
  align-items: center;
  gap: 10px 20px;
  flex-wrap: wrap;
}
.hotels {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.hotel-card {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  flex: 1 1 48%;
}
.hotel-card_hidden {
  visibility: hidden;
  padding: 0!important;
}
.hotel-card__head {
  display: flex;
  gap: 10px;
}
.hotel-card__img {
  flex-basis: 50%;
  border-radius: 20px;
  overflow: hidden;
}
.hotel-card__main-info {
  flex-basis: 50%;
}
.hotel-card__status {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
  margin-bottom: 11px;
}
.hotel-card__status .value {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  font-weight: 600;
}
.hotel-card__status .value_active {
  color: #31bb00;
}
.hotel-card__status .value_completed {
  color: #007895;
}
.hotel-card__status .value_fail {
  color: #FF5F5F;
}
.hotel-card__name {
  margin-bottom: 16px;
}
.hotel-card__name,
.hotel-card__geo {
  font-size: 18px;
  line-height: 22px;
  color: #002A31;
}
.hotel-card__geo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.hotel-card__geo::before {
  content: '';
  display: inline-block;
  width: 18px;
  background: url('../img/icons/geo.svg') center no-repeat;
  background-size: contain;
  height: 18px;
}
.hotel-card__info {
  margin-top: 15px;
}
.hotel-card__info-row {
  margin-top: 10px;
  display: flex;
  align-items: baseline;
}
.hotel-card__info-title {
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  flex-basis: 47%;
}
.hotel-card__info-value {
  font-size: 18px;
  line-height: 22px;
}

.table-block {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px 0;
}
.table {
  border-collapse: collapse;
  width: 100%;
}
.table tr:not(:last-child) {
  margin-bottom: 16px;
}
.table tr {
  transition: 0.2s;
}
.table tr:hover {
  background-color: #F1FEFF;
}
.table tr:hover .remove-favourites {
  opacity: 0.5;
}
.table th {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #828282;
  text-align: center;
  padding: 0 25px 10px;
  white-space: nowrap;
}
.table td {
  padding: 16px 12px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  position: relative;
}
.table td:first-child {
  padding-left: 20px;
}
.table td:last-child {
  padding-right: 20px;
}
.table th:not(:last-child), 
.table td:not(:last-child) {
  border-right: 1px solid #EAEAEA;
}
.table__image-block {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: left;
}
.table__image-block img {
  width: 150px;
}
.nowrap {
  white-space: nowrap;
}
.bonus_positive {
  color: #31BB00;
}
.bonus_negative {
  color: #FF5F5F;
}
.favourites-stars {
  width: 115px;
}
.balance-bonus {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  max-width: 360px;
}

.reviews {
  display: flex;
  gap: 40px;
}
.reviews__column {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.reviews-card {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}
.reviews-card__header {
  display: flex;
  justify-content: space-between;
}
.reviews-card__date-review {
  margin-bottom: 2px;
}
span.reviews-card__date-title {
  font-size: 10px;
  line-height: 12px;
  color: #828282;
  display: inline-block;
  min-width: 81px;
}
span.reviews-card__date-value {
  font-size: 10px;
  line-height: 12px;
  color: #002a31;
}
.reviews-card__stars {
  width: 75px;
}
.reviews-card__hotel-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 16px 0;
}
.reviews-card__img {
  width: 100px;
  min-width: 100px;
  border-radius: 13px;
  overflow: hidden;
}
.reviews-card__name, .reviews-card__geo {
  font-size: 18px;
  line-height: 22px;
  color: #002a31;
}
.reviews-card__geo {
  margin-top: 8px;
}
.reviews-card__content {
  background-color: #F1FEFF;
  border-radius: 13px;
  padding: 10px;
}
.reviews-card__author {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.reviews-card__avatar {
  width: 40px;
  border-radius: 100px;
  overflow: hidden;
  height: 40px;
}
.reviews-card__author-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}
.reviews-card__msg-title {
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  margin-bottom: 8px;
}
.reviews-card__msg-title_good {
  color: #31bb00;
}
.reviews-card__msg-title_bad {
  color: #FF5F5F;
}
.reviews-card__msg-text {
  font-size: 18px;
  line-height: 22px;
}
.reviews-card__msg-text:not(:last-child) {
  margin-bottom: 16px;
}

.tabs-content {
  width: 100%;
  position: relative;
}
.tab-content {
  transition: opacity 0.2s;
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
}
.tab-content_active {
  opacity: 1;
  position: relative;
  transform: scale(1);
}

.air-datepicker .air-datepicker-body--day-name {
  color: #00849a;
}
.air-datepicker.-bottom-center-.-from-bottom-.-active- {
  border-radius: 15px;
}
.air-datepicker {
  --adp-border-radius: 10px!important;
  --adp-cell-border-radius: 10px!important;
}

.change-data-background {
  position: fixed;
  width: 100%;
  height: 200%;
  top: -50%;
  left: 0;
  background-color: #000;
  z-index: 1;
  animation: fadeIn 0.2s ease forwards;
}
.change-data-background.remove {
  animation: fadeOut 0.2s ease forwards;
}

#user-data {
  z-index: 2;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
@keyframes fadeOut {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}


.main__photo-img {
  width: 100%;
}
.input-avatar {
  display: none;
}
.label-input-avatar {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block-input-avatar {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  color: #fff;
  height: 50px;
  bottom: -50px;
  text-align: center;
  padding: 12px;
  transition: 0.3s;
  cursor: pointer;
}
.input-avatar:not([disabled]) ~ .main__photo-img {
  cursor: pointer;
}
.label-input-avatar:hover .input-avatar:not([disabled]) ~ .block-input-avatar {
  bottom: 0;
}

.profile-menu {
  position: relative;
}
.profile-menu.active .profile-menu__list {
  transform: scale(1);
}
.profile-menu__list {
  position: absolute;
  background: #fff;
  list-style: none;
  top: 100%;
  right: 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  transform: scale(0);
  transform-origin: top right;
  z-index: 5;
}
.profile-menu__item a {
  white-space: nowrap;
  padding: 10px 20px;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #000;
  transition: 0.2s;
  cursor: pointer;
}
.profile-menu__item a:hover {
  background-color: #F1FEFF;
}
.hotel-card_mobile {
  display: none;
}
.hotel-card_mobile .hotel-card:not(:last-child) {
  margin-bottom: 20px;
}
.hotel-card_mobile .hotel-card__info-row {
  justify-content: space-between;
}
.hotel-card_mobile .favourites-stars {
  width: 85px;
}
.hotel-card_mobile .hotel-card__status {
  justify-content: flex-end;
}
.favourites-table .remove-favourites {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0;
}
.remove-favourites {
  width: 12px;
  opacity: 0.5;
  transition: 0.2s;
  cursor: pointer;
}
.remove-favourites:hover {
  opacity: 1!important;
}
.main__menu-mobil {
  display: none;
}

.remove-row {
  position: absolute;
  transform: scaleY(0);
  transition: 0.3s;
  opacity: 0;
  transform-origin: top;
}

@media (max-width: 1140px) {
  .hotel-card {
    flex-basis: 100%;
  }
}
@media (max-width: 991px) {
  .input-hint {
    right: auto;
    left: 65px;
  }
  .input-hint__text {
    transform-origin: left;
    right: auto;
    left: 100%;
  }
  .main__photo-and-input-name {
    flex-direction: column;
  }
  .main__photo {
    margin: 0 auto;
  }
  .input {
    text-align: right;
    text-align-last: right;
  }
  .main__header-form .input {
    padding-right: 20px;
  }
  .reviews {
    flex-wrap: wrap;
  }
  .reviews-card__img {
    width: 120px;
    min-width: 120px;
  }
  .favourites-table,
  .bonus-table {
    display: none;
  }
  .hotel-card_mobile {
    display: block;
  }
  .balance-bonus {
    max-width: 100%;
  }
  .hotel-card__head {
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .input-hint {
    left: 40px;
    width: 12px;
  }
  .input-hint__text {
    font-size: 10px;
  }
  .main {
    background-image: url('../img/bg-mobil.png');
  }
  .container {
    padding: 0 10px;
  }
  .main__content {
    flex-direction: column;
    gap: 20px;
  }
  .main__menu-mobil {
    display: block;
    background-color: #fff;
    border-radius: 10px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 10px;
    position: relative;
    cursor: pointer;
    margin-top: 20px;
  }
  .main__menu-mobil img {
    position: absolute;
    width: 20px;
    right: 8px;
    top: 50%;
    margin-top: -10px;
    transition: 0.3s;
    z-index: 4;
  }
  .main__menu-mobil.active img {
    transform: rotate(180deg);
  }
  .main__menu-mobil.active + .main__menu {
    transform: scale(1);
    opacity: 1;
  }
  .main__section {
    padding: 0 0 40px;
    max-height: 100%!important;
  }
  .main__menu {
    margin: 20px 0 0;
    transform: scaleY(0);
    opacity: 0;
    position: absolute;
    transform-origin: top;
    transition: 0.3s;
    z-index: 3;
    height: auto;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.5);
  }
  .main__menu-list {
    margin: 0 10px;
  }
  .main__menu-item {
    margin: 0;
  }
  .main__menu-item:not(:last-child) {
    border-bottom: 1px solid #EAEAEA;
  }
  .main__menu-item::before,
  .main__menu-item::after {
    display: none;
  }
  .main__menu-item_active {
    border-radius: 0;
    cursor: pointer;
  }
  .main__menu-link {
    padding: 10px 0;
    color: #002A31;
    font-size: 14px;
    line-height: 17px;
  }
  .main__menu-link::after {
    display: none;
  }
  .profile-menu svg {
    width: 25px;
  }
  .logo__icon svg {
    height: 24px;
  }
  .logo__text {
    font-size: 12px;
  }
  .main__photo {
    width: 180px;
    height: 180px;
  }
  .main__footer-data,
  .main__header-data {
    font-size: 10px;
    line-height: 12px;     
  }
  .input {
    font-size: 14px;
    line-height: 17.07px;
    padding-top: 17px;
    padding-bottom: 17px;
  }
  .main__header-form:not(:last-child) {
    margin-bottom: 8px;
  }
  .filter-btn {
    flex-grow: 1;
  }
  .hotel-card {
    padding: 10px;
  }
  .hotel-card__img {
    border-radius: 13px;
  }
  .hotel-card__status {
    margin-bottom: 10px;
  }
  .hotel-card__status,
  .hotel-card__status .value {
    font-size: 10px;
    line-height: 12px;
  }
  .hotel-card__name {
    margin-bottom: 8px;
  }
  .hotel-card__geo,
  .hotel-card__name {
    font-size: 14px;
    line-height: 17.07px;
  }
  .hotel-card__geo {
    gap: 3px;
  }
  .hotel-card__geo::before {
    width: 15px;
    height: 15px;
  }
  .hotel-card__info-title {
    font-size: 10px;
    line-height: 12px;
  }
  .hotel-card__info-value {
    font-size: 14px;
    line-height: 17.07px;
  }
  .hotel-card__info-row {
    margin-top: 8px;
  }
  .balance-bonus {
    padding: 13px 10px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 17.07px;
  }
  .reviews__column {
    gap: 20px;
  }
  .reviews-card {
    padding: 10px;
    border-radius: 15px;
  }
  .reviews-card__stars {
    width: 55px;
  }
  .reviews-card__hotel-info {
    margin: 8px 0 16px;
  }
  .reviews-card__img {
    width: 74px;
    min-width: 74px;
    border-radius: 10px;
  }
  .reviews-card__geo,
  .reviews-card__name {
    font-size: 14px;
    line-height: 17.07px;
  }
  .reviews-card__avatar {
    width: 30px;
    height: 30px;
  }
  .reviews-card__author-name {
    font-size: 14px;
    line-height: 17.07px;
  }
  .reviews-card__msg-title {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 4px;
  }
  .reviews-card__msg-text {
    font-size: 14px;
    line-height: 17.07px;
  }
  .reviews-card__msg-text:not(:last-child) {
    margin-bottom: 10px;
  }
  .modal__title {
    font-size: 20px;
  }
  .modal__desc {
    font-size: 14px;
    line-height: 17.07px;
  }
}