@font-face {
  font-family: HappyMonkey-Regular;
  src: url(/fonts/HappyMonkey-Regular.ttf);
}

body {
  font-family: 'Montserrat', sans-serif;
}
img {
  max-width: 100%;
}
.logo {
  display: inline-block;
}
.logo__text {
  cursor: default;
  display: inline-block;
  font-family: HappyMonkey-Regular;
  font-size: 43px;
  margin: 25px;
}
.logo__text-one {
  color: #238F9B;
}
.logo__text-two {
  color: #005382;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

.header__buttons {
  margin-left: 624px;
}
.header__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-transform: uppercase;
  font-weight: 500;;
  font-size: 14px;
  color: #005382;
  background-color: #fff;
  border-radius: 64px;
  padding: 10px 25px;
  border: 1px solid #005382;
  margin: 32.5px 23px 32.5px 0;
  cursor: pointer;
  transition: 0.2s;
}
.header__button:hover {
  background-color: #005382;
  color: #fff;
}
.header__content {
  display: flex;
  justify-content: space-between;
}
.header__icon {
  cursor: pointer;
  margin: 38px 0 35px 23px;
}

.main {
  width: 100%;
  padding: 60px 0;
  box-sizing: border-box;
  background: url("/img/bg.png") no-repeat center;
  background-size: cover;
}
.main__content {
  display: flex;
  justify-content: space-between;
}
.main__photo-and-input-name {
  display: flex;
  justify-content: flex-end;
}
.main__header-data {
  color: #828282;
  position: absolute;
  left: 20px;
  top: 19px;
  bottom: 19px;
  font-size: 18px;
}
.main__footer-data {
  left: 20px;
  top: 19px;
  bottom: 19px;
  color: #828282;
  position: absolute;
  font-size: 18px;
}
.main__header-form, .main__footer-form {
  position: relative;
}
.main__header-form:not(:last-child) {
  margin-bottom: 16px;
}
.main__footer-forms {
  margin-top: 16px;
  background-color: #fff;
  border-radius: 20px;
}
.main__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}
.msg {
  margin-right: 15px;
  color: #fff;
  font-size: 13px;
  opacity: 0;
  transition: 0.2s;
}
.msg.active {
  opacity: 1;
}
.main__button {
  font-size: 13px;
  padding: 7px 17.5px;
  background: none;
  color: white;
  border-radius: 22px;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.2s;
}
.main__button.active,
.main__button:hover {
  background-color: #fff;
  color: #005382;
}
.change-data {
  position: relative;
}
.change__text,
.save__text {
  transition: 0.2s;
  white-space: nowrap;
  line-height: 15px;
}
.save__text {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.change-data.active .change__text{
  opacity: 0;
}
.change-data.active .save__text{
  opacity: 1;
}
.main__menu {
  display: inline-block;
  background-color: #fff;
  border-radius: 20px;
  height: 100%;
  min-width: 260px;
}
.main__menu-list {
  text-align: center;
  list-style-type: none;
  margin: 21px 15px;
  color: #005382;
  font-size: 18px;
}
.main__menu-item {
  margin-top: 10px;
  cursor: pointer;
}
.main__menu-item_active {
  border-radius: 20px;
  position: relative;
  cursor: default;
}
.main__menu-item_active::before,
.main__menu-item_active::after {
  content: '';
  position: absolute;
  display: block;
  border-radius: 20px;
  background-color: transparent;
  animation: border 0.3s ease forwards;
}
.main__menu-item_active::before {
  border-top: 1px solid #005382;
  border-left: 1px solid #005382;
  border-bottom-color: transparent;
  border-right-color: transparent;
  top: 0;
  left: 0;
}
.main__menu-item_active::after {
  border-bottom: 1px solid #005382;
  border-right: 1px solid #005382;
  border-top-color: transparent;
  border-left-color: transparent;
  bottom: 0;
  right: 0;
}
@keyframes border {
  0% {
    width: 0;
    height: 0;
  }
  100%  {
    width: 100%;
    height: 100%;
  }
}
.main__menu-item_active .main__menu-link::after {
  display: none;
}
.main__menu-link {
  color: #005382;
  text-decoration: none;
  padding: 24px 0;
  display: inline-block;
  position: relative;
}
.main__menu-link::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 21px;
  transition: 0.3s;
  left: 50%;
  width: 0;
  height: 1px;
  border-radius: 1px;
  background-color: #005382;
}
.main__menu-item:hover .main__menu-link::after {
  width: 100%;
  left: 0;
}
.main__section {
  width: 100%;
  margin-left: 40px;
}
.main__photo {
  width: 212px;
  height: 212px;
  border-radius: 1000px;
  overflow: hidden;
  margin-right: auto;
}

.input {
  width: 620px;
  color: #002A31;
  outline: none;
  border: none;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  border-radius: 20px;
  padding-top: 19px;
  padding-bottom: 19px;
  font-size: 18px;
  transition: 0.2s;
  position: relative;
}
.input:disabled {
  background-color: #fff;
  color: #828282;
}
.input::-webkit-calendar-picker-indicator {
  display: none;
}

.footer-input {
  width: 100%;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

::-webkit-input-placeholder {
  color: darkgray;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 3, 3, 0.6);
}
.modal__content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 0 50px;
  border-radius: 20px;
}
.modal__title {
  font-size: 25px;
  color: #002A31;
  text-align: center;
  margin-top: 110px;
}
.modal__stage-and-button {
  display: flex;
  margin-top: 114px;
}
.modal__stage {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-right: 105px;
  margin-bottom: 30px;
}
.modal__input {
  margin-top: 23px;
  width: 100%;
  height: 60px;
  background-color: #EAEAEA;
  border: none;
  color: #828282;
  font-size: 14px;
  border-radius: 10px;
  padding-left: 20px;
  box-sizing: border-box;
}
.modal__descr-text {
  font-size: 12px;
  margin: 8px 0 8px 20px;
}
.modal__input-password-new {
  margin-top: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.filters {
  display: flex;
  align-items: center;
  gap: 20px;
}
.hotels {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.hotel-card {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  flex: 1 1 48%;
}
.hotel-card_hidden {
  visibility: hidden;
}
.hotel-card__head {
  display: flex;
  gap: 10px;
}
.hotel-card__img {
  flex-basis: 50%;
  border-radius: 20px;
  overflow: hidden;
}
.hotel-card__main-info {
  flex-basis: 50%;
}
.hotel-card__status {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
  margin-bottom: 11px;
}
.hotel-card__status .value {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  font-weight: 600;
}
.hotel-card__status .value_active {
  color: #31bb00;
}
.hotel-card__status .value_completed {
  color: #007895;
}
.hotel-card__status .value_fail {
  color: #FF5F5F;
}
.hotel-card__name,
.hotel-card__geo {
  font-size: 18px;
  line-height: 22px;
  color: #002A31;
  margin-bottom: 16px;
}
.hotel-card__geo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.hotel-card__geo::before {
  content: '';
  display: inline-block;
  width: 18px;
  background: url('../img/icons/geo.svg') center no-repeat;
  background-size: contain;
  height: 18px;
}
.hotel-card__info {
  margin-top: 15px;
}
.hotel-card__info-row {
  margin-top: 10px;
  display: flex;
  align-items: baseline;
}
span.hotel-card__info-title {
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  flex-basis: 47%;
}
span.hotel-card__info-value {
  font-size: 18px;
  line-height: 22px;
}

.table-block {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px 0;
}
.table {
  border-collapse: collapse;
  width: 100%;
}
.table tr:not(:last-child) {
  margin-bottom: 16px;
}
.table tr {
  transition: 0.2s;
}
.table tr:hover {
  background-color: #F1FEFF;
}
.table th {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #828282;
  text-align: center;
  padding: 0 25px 10px;
  white-space: nowrap;
}
.table td {
  padding: 16px 12px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
}
.table td:first-child {
  padding-left: 20px;
}
.table td:last-child {
  padding-right: 20px;
}
.table th:not(:last-child), 
.table td:not(:last-child) {
  border-right: 1px solid #EAEAEA;
}
.table__image-block {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: left;
}
.table__image-block img {
  width: 150px;
}
.nowrap {
  white-space: nowrap;
}
.bonus_positive {
  color: #31BB00;
}
.bonus_negative {
  color: #FF5F5F;
}
.balance-bonus {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  max-width: 360px;
}

.reviews {
  display: flex;
  gap: 40px;
}
.reviews__column {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.reviews-card {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}
.reviews-card__header {
  display: flex;
  justify-content: space-between;
}
.reviews-card__date-review {
  margin-bottom: 2px;
}
span.reviews-card__date-title {
  font-size: 10px;
  line-height: 12px;
  color: #828282;
  display: inline-block;
  min-width: 81px;
}
span.reviews-card__date-value {
  font-size: 10px;
  line-height: 12px;
  color: #002a31;
}
.reviews-card__stars {
  width: 75px;
}
.reviews-card__hotel-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 16px 0;
}
.reviews-card__img {
  width: 100px;
}
.reviews-card__name, .reviews-card__geo {
  font-size: 18px;
  line-height: 22px;
  color: #002a31;
}
.reviews-card__geo {
  margin-top: 8px;
}
.reviews-card__content {
  background-color: #F1FEFF;
  border-radius: 13px;
  padding: 10px;
}
.reviews-card__author {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.reviews-card__avatar {
  width: 40px;
  border-radius: 100px;
  overflow: hidden;
  height: 40px;
}
.reviews-card__author-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}
.reviews-card__msg-title {
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  margin-bottom: 8px;
}
.reviews-card__msg-title_good {
  color: #31bb00;
}
.reviews-card__msg-title_bad {
  color: #FF5F5F;
}
.reviews-card__msg-text {
  font-size: 18px;
  line-height: 22px;
}
.reviews-card__msg-text:not(:last-child) {
  margin-bottom: 16px;
}

.tabs-content {
  width: 100%;
  position: relative;
}
.tab-content {
  transition: opacity 0.2s;
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
}
.tab-content_active {
  opacity: 1;
  position: relative;
  transform: scale(1);
}