<div class="section__main-info">
  <div class="container">
    <div class="hotel__main-info">
      <div class="mobile-show">
        <div class="hotel__row">
          <div class="hotel__stars">
            <img src="../img/icons/stars/10.png">
          </div>
          <a href="../hotels-list" class="main__button btn-back">Посмотреть другие варианы</a>
        </div>
        <div class="hotel__name"></div>
        <div class="hotel__place hotel__row hotel__row_left">
          <span class="hotel__geo"></span>
        </div>
        <div class="hotel__place hotel__row hotel__row_left">
          <img src="../img/icons/geo.svg" class="invert">
          <span>До центра <span class="hotel__place_center"></span> км</span>
        </div>
        <div class="hotel__place hotel__row hotel__row_left">
          <img src="../img/icons/metro.svg" class="invert">
          <span><span class="hotel__place_metro-name"></span> <span class="hotel__place_metro"></span> км</span>
        </div>
        <div class="hotel__place hotel__row hotel__row_left">
          <img src="../img/icons/train.svg" class="invert">
          <span><span class="hotel__place_train-name"></span> <span class="hotel__place_train"></span> км</span>
        </div>
        <div class="hotel__place hotel__row hotel__row_left">
          <img src="../img/icons/plane.svg" class="invert">
          <span><span class="hotel__place_airport-name"></span> <span class="hotel__place_airport"></span> км</span>
        </div>
      </div>
      <div class="hotel__img">
        <div class="hotel__slider-for"></div>
        <div class="hotel__slider-nav"></div>
      </div>
      <div class="hotel__info">
        <div class="mobile-hide">
          <div class="hotel__row">
            <div class="hotel__stars">
              <img src="../img/icons/stars/10.png">
            </div>
            <a href="../hotels-list" class="main__button btn-back">Посмотреть другие варианы</a>
          </div>
          <div class="hotel__name"></div>
          <div class="hotel__place hotel__row hotel__row_left">
            <span class="hotel__geo"></span>
          </div>
          <div class="hotel__place hotel__row hotel__row_left">
            <img src="../img/icons/geo.svg" class="invert">
            <span>До центра <span class="hotel__place_center"></span> км</span>
          </div>
          <div class="hotel__place hotel__row hotel__row_left">
            <img src="../img/icons/metro.svg" class="invert">
            <span><span class="hotel__place_metro-name"></span> <span class="hotel__place_metro"></span> км</span>
          </div>
          <div class="hotel__place hotel__row hotel__row_left">
            <img src="../img/icons/train.svg" class="invert">
            <span><span class="hotel__place_train-name"></span> <span class="hotel__place_train"></span> км</span>
          </div>
          <div class="hotel__place hotel__row hotel__row_left">
            <img src="../img/icons/plane.svg" class="invert">
            <span><span class="hotel__place_airport-name"></span> <span class="hotel__place_airport"></span> км</span>
          </div>
        </div>
        <div class="hotel__reviews">
          <div class="hotel__row hotel__row_left">
            <div class="hotel__estimation"></div>
            <span>по оценкам гостей</span>
          </div>
          <div class="hotel__row hotel__reviews-content">
          </div>
        </div>
        <div class="hotel__price">
          от
          <span class="hotel__price-value"></span>
          руб. за 1 ночь
        </div>
        <div class="hotel__btn">
          <a href="#" class="btn btn_white btn_big">Забронировать</a>
        </div>
      </div>
    </div>
  </div>
</div>