<div class="main__menu">
  <div class="main__menu-mobil page-content">
    <span class="main__menu-select">Выбрать номер</span>
    <img src="../img/icons/arr.png">
  </div>

  <ul class="main__menu-list">
    <li class="main__menu-item main__menu-item_active" data-target="choose-room" data-title="Выбрать номер">
      <p class="main__menu-link">Выбрать номер</p>
    </li>
    <li class="main__menu-item" data-target="services" data-title="Услуги">
      <p class="main__menu-link">Услуги</p>
    </li>
    <li class="main__menu-item" data-target="reviews" data-title="Отзывы">
      <p class="main__menu-link">Отзывы</p>
    </li>
    <li class="main__menu-item" data-target="geo" data-title="Местоположение">
      <p class="main__menu-link">Местоположение</p>
    </li>
    <li class="main__menu-item" data-target="rules" data-title="Правила отеля">
      <p class="main__menu-link">Правила отеля</p>
    </li>
  </ul>
</div>